.about{
    width: 800px;
    height: 800px;
    background: black;
    border-radius: 15px;
    margin-top: 30px;
    justify-content: center;
    text-align: start;
    align-items: center;
    padding-top:5px;
    box-shadow: 1px 1px 2px black, 0 0 15px aqua, 0 0 3px aqua;;
}
.folder{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.file{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;  
    
}
.title{
    color: aquamarine;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}